@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>
<br />
<img src="~/lib/img/JoelHiltonHeadshot.jpg" />

<div>
    <a asp-controller="Home" asp-action="ListMovies">See Movie List</a>
</div>



